# Processing sketches
applet/
application.linux-arm64/
application.linux-armv6hf/
application.linux32/
application.linux64/
application.macosx/
application.windows32/
application.windows64/
out/
*.class

# macOS
.DS_Store

# GCODE files
GCODE/
GCODE\\/
